extends layout

block addStyle
  style
    .hero-unit {
      margin: 0 15%;
    }

block content
  .container
    .row
      .hero-unit
        h1 Ooops
        br
        h2 Where: #{where}
        br
        .alert.alert-error
          p  #{error}
