extends layout

block addStyle
  style
    .hero-unit {
      margin: 0 20%;
    }

block content
  .container
    .row
      .hero-unit
        h2 New Post
        if errors
          .alert.alert-error
              a.close(href='#', data-dismiss='alert') x
              | #{errors}
        form(method="POST")
          input.span4(type='text', name='subject', size='120', placeholder="Title", value= subject)
          textarea.span6(name='body', rows='20', placeholder="Blog Entry") #{body}
          input.span4(type='text', name='tags', placeholder="tags (comma separated)", value= tags)
          br
          input.btn(type='submit', value='Submit')
