extends layout

block addStyle
  style
    .hero-unit {
      margin: 0 5%;
    }

block content
  .container
    .row
      .hero-unit
        h1 This is not the post you were looking for
        br
        p Or is it?  Report a broken link.
