extends ../layout

block stylesheets
  style
    .label {text-align: right}
    .error {color: red}

block content
  | Already a user? 
  a(href='/login') Login
  p
    h2 Signup
      form(method='post')
        table
          tr
            td.label Username
            td
              input(type='text', name='username', value= username)
            td.error
              if(errors.username)
                | #{errors.username.msg}
          tr
            td.label Password
            td
              input(type='password', name='password')
            td.error
              if(errors.password)
                | #{errors.password.msg}
          tr
            td.label Verify Password
            td
              input(type='password', name='verify')
            td.error
              if(errors.verify)
                | #{errors.verify.msg}
          tr
            td.label Email (optional)
            td
              input(type='text', name='email', value= email)
            td.error
              if(errors.email)
                | #{errors.email.msg}
        input(type='submit')
