meta(charset='UTF-8')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
//if lt IE 9
  script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
title= title

block scripts
  script(src='/_js/jquery-1.8.2.min.js')
  script(src='/_js/bootstrap.min.js')

block stylesheets
  link(rel='stylesheet', href='/_css/bootstrap.min.css')
  link(rel="stylesheet", href="/_css/bootstrap-responsive.min.css")
  link(rel='stylesheet', href='/_css/style.css')