extends ../layout

block addStyle
  style
    .error {
      color: red;
    }

block content
  .container
    .row
      .span4.offset4.well
        section.centered
          h2 Signup
          form(method="post")
            if errors.username
              .alert.alert-error
                a.close(data-dismiss="alert", href="#")
                  | x
                | #{errors.username.msg}
            input.span4(type="text", id="username", name="username", placeholder="Username", value= username)
            if errors.password
              .alert.alert-error
                a.close(data-dismiss="alert", href="#")
                  | x
                | #{errors.password.msg}
            input.span4(type='password', id="password", name="password", placeholder="Password", value= "")
            if errors.verify
              .alert.alert-error
                a.close(data-dismiss="alert", href="#")
                  | x
                | #{errors.verify.msg}
            input.span4(type='password', id="verify", name='verify', placeholder="re-type password", value='')
            if errors.email
              .alert.alert-error
                a.close(data-dismiss="alert", href="#")
                  | x
                | #{errors.email.msg}
            input.span4(type='text', name='email', placeholder="Email" , value= email)
            input(type='submit', value="Signup")
            br
            br
            p Already a user?
              a(href='/login')  Login
